.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.2);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  border-radius: 6px;
}

.app-header {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* 将内容推到右侧 */
}